:root {
    --main-color: #3b9702;
    --main-hover-color: #2d7301;
    --light-main-color: #01dc08;
    --text-dark-color: #4b4b4b;
    --text-light-color: #fff;
    --backgrond-color: #fff;
    --design-color-first: #e6ff9d;
    --design-color-second: #f3ffcf;
    --design-color-third: #f5f5f5;
    --scrollbar-color: #3b9702;
    --footer-background: #1a1a1a;
    --footer-color: #e0e0e0;
    --status-up-color: #d5e9c9;
    --status-down-color: #df484a;
    --status-mixed-color: orange;
    --status-unknown-color: #687790;
    --navLink-dark-hover-color: #2d7301;

    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;
}